header.header
  div.container

    nav.navbar
      div.navbar__btn
        - for (let i = 0; i < 3; i++)
          span.navbar__btn-row

      ol.navbar__list
        li.navbar__item
          a.navbar__link.navbar__link--active ГЛАВНАЯ
          a.navbar__link ОБ АВТОРЕ
